How often does the fighter with the better win/lose ration win?

In [2]:
import pandas as pd

In [29]:
data = pd.read_csv('../../data/ufc-master.csv')[['B_wins', 'B_losses', 'R_wins', 'R_losses', 'Winner']]

In [12]:
data.head(5)

   B_wins  B_losses  R_wins  R_losses Winner
0      18        11       9         5   Blue
1       1         0       4         2   Blue
2       1         0       1         0   Blue
3       8         3       4         0   Blue
4       1         1       2         5    Red

In [30]:
#First we have to choose fights where both of the fighters have fought at least once in order to calculate win ratio for both
#We don't take into consideration draws at the moment because we are not going to predict draws, but winners and losers only
#and draw is very rare in the MMA as the number of rounds is uneven (3 or 5)
has_fought = (data['B_wins'] + data['B_losses'] > 0) & (data['R_wins'] + data['R_losses'] > 0)
data = data[has_fought]
B_ratio = data['B_wins'] / (data['B_wins'] + data['B_losses'])
R_ratio = data['R_wins'] / (data['R_wins'] + data['R_losses'])
data['B_ratio'] = B_ratio
data['R_ratio'] = R_ratio
data = data[['B_ratio', 'R_ratio', 'Winner']]
data

       B_ratio   R_ratio Winner
0     0.620690  0.642857   Blue
1     1.000000  0.666667   Blue
2     1.000000  1.000000   Blue
3     0.727273  1.000000   Blue
4     0.500000  0.285714    Red
...        ...       ...    ...
4465  0.500000  0.500000    Red
4466  0.500000  0.500000    Red
4467  0.666667  1.000000   Blue
4470  0.000000  0.000000    Red
4472  0.666667  0.500000   Blue

[3373 rows x 3 columns]

In [31]:
no_equal = data['B_ratio'] != data['R_ratio']
data = data[no_equal]
better_wins = 0
for i in range(len(data)):
    if (data['Winner'].iloc[i] == 'Blue') & (data['B_ratio'].iloc[i] > data['R_ratio'].iloc[i]):
        better_wins += 1
    elif (data['Winner'].iloc[i] == 'Red') & (data['R_ratio'].iloc[i] > data['B_ratio'].iloc[i]):
        better_wins += 1
better_wins_p = better_wins / len(data)
print("Fighter with the better win ratio wins " + str(round(better_wins_p * 100, 2)) + "% of the time.")

Fighter with the better win ratio wins 55.87% of the time.

This show us that fighter's previous win ratio gives them a slight edge.